.btn {
  display: inline-block;
  font-family: $btn-font-family;
  font-weight: $btn-font-weight;
  color: white;
  background-color: $primary;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  user-select: none;
  border: $btn-border-width solid transparent;
  padding: $btn-padding-y $btn-padding-x;
  font-size: $btn-font-size;
  line-height: $btn-line-height;
  border-radius: $btn-border-radius;
  box-shadow: 1px 2px 5px 0 lighten($primary, 20%);
  transition: all 300ms ease;

  &:hover {
    color: white;
    background-color: darken($primary, 5%);
    text-decoration: none;
    box-shadow: none;
    transform: scaleX(1.025);
  }

  // Disabled comes first so active can properly restyle
  // &.disabled,
  // &:disabled {
  //   // opacity: $btn-disabled-opacity;
  //   box-shadow: none;
  // }

  // &:not(:disabled):not(.disabled) {
  //   cursor: pointer;

  //   &:active,
  //   &.active {
  //     box-shadow: $btn-active-box-shadow;

  //     &:focus {
  //       box-shadow: $btn-active-box-shadow;
  //     }
  //   }
  // }
}

// Future-proof disabling of clicks on `<a>` elements
// a.btn.disabled,
// fieldset:disabled a.btn {
//   pointer-events: none;
// }

//
// Alternate buttons
@each $color, $value in $theme-colors {
  .btn-#{$color} {
    @include button-variant(white, $value, transparent);
  }
}

@each $color, $value in $theme-colors {
  .btn-outline-#{$color} {
    @include button-outline-variant(
      $value,
      white,
      $value,
      // darken($value, 10%)
    );
  }
}

//
// Link buttons -- Make a button look and behave like a link
.btn-link {
  font-weight: $font-weight-normal;
  font-size: $link-size;
  line-height: $link-line-height;
  color: $link-color;
  background-color: transparent;
  text-decoration: $link-decoration;
  box-shadow: none;

  &:hover {
    color: $link-hover-color;
    text-decoration: $link-hover-decoration;
    background-color: transparent;
    transform: none;
  }

  &:focus,
  &.focus {
    text-decoration: $link-hover-decoration;
  }

  &:disabled,
  &.disabled {
    color: $link-disabled-color;
    opacity: $link-disabled-opacity;
    text-decoration: underline;
    pointer-events: none;
  }

}

// Button Sizes
.btn-lg {
  padding: $btn-padding-y-lg $btn-padding-x-lg;
  font-size: $btn-font-size-lg;
  line-height: $btn-line-height-lg;
  border-radius: $btn-border-radius-lg;
}

.btn-sm {
  padding: $btn-padding-y-sm $btn-padding-x-sm;
  font-size: $btn-font-size-sm;
  line-height: $btn-line-height-sm;
  border-radius: $btn-border-radius-sm;
}

//
// Block button
//

.btn-block {
  display: block;
  width: 100%;

  // Vertically space out multiple block buttons
  + .btn-block {
    margin-top: $btn-padding-y;
  }
}

// Specificity overrides
input[type="submit"],
input[type="reset"],
input[type="button"] {
  &.btn-block {
    width: 100%;
  }
}

//
// Button Outline
.btn-outline {
  background-color: white;
  color: $primary;
  border-color: $primary;
  box-shadow: none;

  &:hover {
    background-color: white;
    color: $primary;
    border-color: darken($primary, 10%);
  }
}

//--------------------------------------//
//
/// LINKS
a:disabled,
a.disabled {
  color: $link-disabled-color;
  pointer-events: none;
  text-decoration: underline;
  opacity: $link-disabled-opacity;
}
