.form-check {
  position: relative;
  display: block;
  padding-left: 1.25rem;
}
.form-check-input {
  position: absolute;
  margin-top: 0.3rem;
  margin-left: -1.25rem;
}

.form-check-input[disabled] ~ .form-check-label.form-check-label.form-check-label,
.form-check-input:disabled ~ .form-check-label.form-check-label.form-check-label {
  color: #6c757d;
  cursor: not-allowed;
}
.form-check-label {
  margin-bottom: 0;
}
.form-check-inline .form-check-input {
  position: static;
  margin-top: 0;
  margin-right: 0.3125rem;
  margin-left: 0;
}

// .was-validated .form-check-input:valid ~ .form-check-label,
// .form-check-input.is-valid ~ .form-check-label {
//   color: #12c500;
// }
// .was-validated .form-check-input:valid ~ .valid-feedback,
// .was-validated .form-check-input:valid ~ .valid-tooltip,
// .form-check-input.is-valid ~ .valid-feedback,
// .form-check-input.is-valid ~ .valid-tooltip {
//   display: block;
// }

// .was-validated .form-check-input:invalid ~ .form-check-label,
// .form-check-input.is-invalid ~ .form-check-label {
//   color: #ff0013;
// }
// .was-validated .form-check-input:invalid ~ .invalid-feedback,
// .was-validated .form-check-input:invalid ~ .invalid-tooltip,
// .form-check-input.is-invalid ~ .invalid-feedback,
// .form-check-input.is-invalid ~ .invalid-tooltip {
//   display: block;
// }

.form-inline .form-check {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  padding-left: 0;
}
.form-inline .form-check-input {
  position: relative;
  flex-shrink: 0;
  margin: 0 0.25rem auto 0;
}
.toggle-token.form-check .form-check-input {
  position: absolute;
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  // border: 0;
}
.toggle-token.form-check {
  display: inline-block;
  padding: 0;
  margin: 0 0 0.25rem 0 !important;
}
.toggle-token.form-check .form-check-label {
  background-color: #f5f6f7;
  padding: 0.25rem 1rem 0.25rem 2rem;
  border: 2px solid #cfd9e6;
  border-radius: 1rem;
  position: relative;
  transition: all 200ms ease-in-out;
}

.toggle-token.form-check .form-check-label .fas {
  position: absolute;
  top: 8px;
  left: 10px;
  color: #6a89b2;
}
.toggle-token.form-check .form-check-label .fas:first-of-type {
  opacity: 1;
}
.toggle-token.form-check .form-check-label .fas:last-of-type {
  opacity: 0;
}
.toggle-token.form-check .form-check-label:hover,
.toggle-token.form-check .form-check-label:active {
  cursor: pointer;
}
.toggle-token.form-check .form-check-input:checked + .form-check-label {
  background-color: #0b7900;
  color: #fff;
  border-color: #0b7900;
}
.toggle-token.form-check .form-check-input:checked + .form-check-label .fas {
  position: absolute;
  top: 8px;
  left: 10px;
  color: #fff;
}
.toggle-token.form-check .form-check-input:checked + .form-check-label .fas:first-of-type {
  opacity: 0;
}
.toggle-token.form-check
  .form-check-input:checked
  + .form-check-label
  .fas:last-of-type {
  opacity: 1;
}
